<!DOCTYPE html>
<html lang="en">
<head>
    <title>Các hệ mã hoá</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!--</head>-->

<!--<body>-->

<!--    <div class="container">-->
<!--      <h1 class="jumbotron bg-primary" style="background: green; color: #FFF; text-align: center">Chương trình giải các hệ mã khoá</h1>-->
<!--        <marquee style="background: green; color:#FFF"; scrollamount="5"; scrolldelay="120">-->
<!--            Mã học phần: CT20401 | Tên học phần: An toàn bảo mật thông tin | Tên nhóm thực hiện: Xin một lần điểm A | Trường Đại học Cần Thơ-->
<!--        </marquee>-->
<!--      <br><br>-->
<!--      <form class="form-horizontal" action="/hill_page" method="post" enctype="multipart/form-data">-->
<!--        <div class="form-group">-->
<!--            <label for="exampleFormControlSelect1">Chọn hệ mã khoá: </label>-->
<!--            <form>-->
<!--                <div>-->
<!--                    <button type="submit" >Hệ mã Hill</button>-->
<!--                    <button formaction="/affine_page">Hệ mã Affine</button>-->
<!--                    <button formaction="/caesar_page">Hệ mã Caesar</button>-->
<!--                    <button formaction="/des_page">Hệ mã Des</button>-->
<!--                    <button formaction="/rsa_page">Hệ mã RSA</button>-->
<!--                    <button formaction="/vigenere_page">Hệ mã Vigenere</button>-->
<!--                </div>-->
<!--            </form>-->
<!--      </form>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->